.input_block{
    display: flex;
}
.add{
    color: white;
    height: 40px;
    width: 30px;
}
.add:hover{
    transform: scale(1.5);
}

.input_text:hover{
 background-color: rgb(249, 249, 249);   
 color: rgb(0, 0, 0);
 font-size: 20px;
}
