.main_bg_container{
    color: white;
    text-align: center;
    width: 80%;
    background-color: #1d1919;
    padding: 20px;
    border-radius: 10px;
    /* filter: blur(1px); */
   box-shadow: 0px 0px 20px 12px #7c7b7b;

}